.slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.slider {

    height: 1920px;
    width: auto;
    margin: ;
    border-radius: 99px

}

nav {
    background-color: #7d5219;
}

.brand-logo {
    align-content: center;
}

.tombolSemuaPaket {
    border-radius: 99px; 
    font-size: 15px;
    font-weight: bold;
    background-color: white; 
    color: #474104ff; 
    transition: 200ms;
}
.tombolCekOdp {
    border-radius: 99px; 
    font-size: 15px;
    font-weight: bold;
    background-color: red; 
    color: white; 
    transition: 200ms;
}
.tombolcallCenter {
    border-radius: 99px; 
    font-size: 15px;
    font-weight: bold;
    background-color: #7d5219; 
    color: white; 
    transition: 200ms;
}

.tombolcallCenter:hover {
    background-color: white;
    color: #7d5219;
}
.tombolSemuaPaket:hover {
    background-color: #b16b10ff;
    color: white;
}


.logo{
height: 60px;
width: auto;
}

.sdank, ol, li {
    font-size: 15px;
}

.img_icon {
    height: 55px;
    width: auto;
}

.sosmed ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.icon-sosmed {
    filter: grayscale(100%);
    transition: 200ms;
}

.icon-sosmed:hover {
    filter: grayscale(0);
}

.dropdown-content {
    margin-top: 20px;
    
}